<template>
    <div class="editor" @mousedown="startCanvasDrag">
        <div class="editor__controls">
            <a class="btn btn--shadow editor__presentation" @click="present">Presentation Mode</a>
        </div>
        <div class="editor__canvas">
            <svg role="img" class="editor__svg-canvas">
                <title>Canvas with links</title>
                <link-element v-for="(link, index) of links" :link="link" :index="index"
                              :key="'link'+index"></link-element>
            </svg>
            <circle-element v-for="(circle, index) of circles" :circle="circle"
                            :key="index" :index="index+1"></circle-element>
            <edit-circle v-if="editCircle" :edit-circle="editCircle"></edit-circle>
            <div class="editor__circle-drag-element" v-if="activeLinkingStart" :style="dragCircleElementStyle">+</div>
        </div>
        <button tabindex="1" class=" btn btn--shadow editor__reset" @click="resetSlides">Reset Slides</button>
    </div>
</template>

<script>
    import CircleElement from "../components/CircleElement";
    import LinkElement from "../components/LinkElement";
    import EditCircle from "../components/EditCircle";

    export default {
        name: "Editor",
        components: {EditCircle, LinkElement, CircleElement},
        data() {
            return {}
        },
        created() {
            this.$store.dispatch('initializeEditor');
        },
        mounted() {
            window.addEventListener('mousemove', this.onMouseMove);
            window.addEventListener('keydown', this.onKeyDown);
            window.addEventListener('mouseup', this.onMouseUp);
            window.addEventListener('keyup', this.onKeyUp);
        },
        beforeDestroy() {
            window.removeEventListener('mousemove', this.onMouseMove);
            window.removeEventListener('keydown', this.onKeyDown);
            window.removeEventListener('mouseup', this.onMouseUp);
            window.removeEventListener('keyup', this.onKeyUp);
        },
        methods: {
            onMouseMove(mouseEvent) {
                if (this.$store.state.activeDragCircleId !== null) {
                    this.$store.commit('moveActiveCircle', mouseEvent)
                }
                if (this.$store.state.activeLinkingStart !== null) {
                    this.$store.commit('moveActiveLinkingStart', mouseEvent)
                }
                if (this.$store.state.activeLinkingStart === null && this.$store.state.shiftKeyDown && this.$store.state.canvasDraggingStartPosition) {
                    this.$store.commit('moveCanvas', {x: mouseEvent.clientX, y: mouseEvent.clientY});
                }
            },
            onKeyDown(keyEvent) {
                if (keyEvent.key === 'Shift') {
                    this.$store.commit('shiftKeyChange', true)
                }
                if (keyEvent.key === 'Delete') {
                    this.$store.commit('deleteCircle', true)
                }
            },
            onMouseUp() {
                this.$store.commit('setActiveDragCircle', null);
                this.$store.commit('setActiveLinkingStart', null);
                this.$store.commit('endDraggingCanvas');
            },
            onKeyUp(keyEvent) {
                if (keyEvent.key === 'Shift') {
                    this.$store.commit('shiftKeyChange', false);
                    this.$store.commit('setActiveDragCircle', null);
                    this.$store.commit('setActiveLinkingStart', null);
                    this.$store.commit('endDraggingCanvas');
                }
            },
            startCanvasDrag(mouseEvent) {
                if (this.$store.state.activeLinkingStart === null && this.$store.state.shiftKeyDown) {
                    this.$store.commit('startDraggingCanvas', {x: mouseEvent.clientX, y: mouseEvent.clientY});
                }
            },
            resetSlides() {
                this.$store.commit('reset');
                this.$store.commit('addCircle', {x: (window.innerWidth - 100) / 2, y: (window.innerHeight - 90) / 2});
            },
            present() {
                this.$store.commit('setActiveDragCircle', null);
                this.$store.commit('setActiveActionsCircleId', null);
                this.$router.push('/view');
            }
        }
        ,
        computed: {
            circles() {
                return this.$store.state.circles;
            }
            ,
            links() {
                return this.$store.state.links;
            }
            ,
            editCircle() {
                return this.$store.state.circles.find(circle => this.$store.state.activeEditCircleId === circle.id);
            }
            ,
            activeLinkingStart() {
                return this.$store.state.activeLinkingStart;
            }
            ,
            dragCircleElementStyle() {
                if (this.$store.state.activeLinkingStart) {
                    return {
                        left: this.$store.state.activeLinkingStart.x + "px",
                        top: this.$store.state.activeLinkingStart.y + "px",
                    }
                } else {
                    return {}
                }
            }
        }
        ,

    }
</script>

<style lang="scss" scoped>
    .editor {

        //Styling for the item that gets displayed when dragging a new link
        &__circle-drag-element {
            background: #6EE2EB;
            color: white;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            width: 40px;
            height: 40px;
            position: absolute;
            z-index: 1001;
            pointer-events: none;

            &:hover {
                transition: 0.2s all ease-in-out;
                background: #6EE2EB;
            }
        }

        // General styling components for editor component
        &__controls {
            position: fixed;
            z-index: 200;
            top: 24px;
            right: 24px;
            height: 71px;
            display: flex;
            align-items: center;
        }

        // Switch to presenation mode button
        &__presentation {
            margin: 10px;
            background: #155;
            color: white;
        }

        // Reset slides button
        &__reset {
            margin: 10px;
            position: fixed;
            z-index: 200;
            bottom: 24px;
            right: 24px;
        }


        // The SVG-Canvas positioned fixed and fullscreen;
        &__svg-canvas {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100vh;
            width: 100%;
            background: #f7f7f7;
        }

        // The Canvas positioned fixed and fullscreen;
        &__canvas {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
</style>