<template>
    <div class="view">
        <div class="view__controls">
            <a class="btn" tabindex="10" @click="edit">Edit Mode</a>
            <button tabindex="1" class="btn" @click="closeFullscreen" v-if="isFullscreen">Exit Fullscreen</button>
            <button tabindex="1" class="btn" @click="openFullscreen" v-else>Fullscreen Mode</button>
        </div>
        <div class="view__slide-container" id="slide-container">
            <slide v-for="(slide, index) of circles" :key="index" :slide="slide"></slide>

        </div>
        <div class="view__slide-indicators">
            <div class="view__slide-indicator" v-for="(slide, index) of circles" :key="index"
                 :class="{active: slide.id === activeSlideId}" @click="openSlide(slide.id)"></div>
        </div>
    </div>
</template>

<script>
    import Slide from "../components/Slide";

    export default {
        name: "ViewPage",
        components: {Slide},
        data() {
            return {
                isFullscreen: false
            }
        },
        created() {
            if (this.$store.state.activeSlideId === null) {
                this.$store.commit('setSlideDirection', null);
                this.$nextTick(() => {
                    this.$store.commit('setActiveSlideId', this.$store.state.circles[0].id);
                });
            }
        },
        computed: {
            circles() {
                return this.$store.state.circles;
            },
            activeSlideId() {
                return this.$store.state.activeSlideId;
            }
        },
        methods: {
            openSlide(id) {
                this.$store.commit('setActiveSlideId', id);
            },
            openFullscreen() {
                this.isFullscreen = true;
                if (document.fullscreenEnabled) {
                    document.querySelector('#slide-container').requestFullscreen();
                }
            },
            closeFullscreen() {
                this.isFullscreen = false;
                document.exitFullscreen();
            },
            edit() {
                this.$router.push('/');
            }
        }
    }
</script>

<style lang="scss" scoped>

    .view {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 100%;
        background: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: center;

        // Shows the slides and takes on the center of screen
        &__slide-container {
            min-height: 75vh;
            background: white;
            width: 75%;
            position: relative;
            overflow: hidden;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

            &:fullscreen {
                ::v-deep .slide__controls {
                    position: fixed;
                    z-index: 100000;
                    bottom: 40px;
                }
            }
        }

        // Indicates which slide is active
        &__slide-indicator {
            background: transparentize(#155, 0.8);
            border-radius: 100%;
            height: 15px;
            width: 15px;
            margin: 10px;
            cursor: pointer;

            &.active {
                background: #155;
            }
        }

        &__slide-indicators {
            display: inline;
        }

        // Styling for Controls of slide change buttons
        &__controls {
            position: absolute;;
            top: 24px;
            right: 24px;
            height: 71px;
            display: flex;
            align-items: center;

            .btn {
                margin: 10px;
            }
        }
    }
</style>