<template>
        <div class="circle" @dblclick="doubleClick" :class="{'circle__editMode':editMode, 'circle__dragMode': dragMode}"
             :style="styles"
             @mousedown.stop="mouseDown">
            <div class="circle__index">
                {{index}}
            </div>
            <div class="circle__content" v-if="editMode || dragMode">
                <button tabindex="1" aria-label="add top" class="circle__add circle__top" @click="addCircle('top')"
                        @mouseup.stop="endLink('top')"
                        @mousedown.stop="startLink($event,'top')" v-if="this.circle.top === null">+
                </button>
                <button tabindex="2" aria-label="add bottom" class="circle__add circle__bottom"
                        @click="addCircle('bottom')"
                        @mouseup.stop="endLink('bottom')" @mousedown.stop="startLink($event,'bottom')"
                        v-if="this.circle.bottom === null">+
                </button>
                <button tabindex="3" aria-label="add right" class="circle__add circle__right"
                        @click="addCircle('right')"
                        @mouseup.stop="endLink('right')" @mousedown.stop="startLink($event,'right')"
                        v-if="this.circle.right === null">+
                </button>
                <button tabindex="4" aria-label="add left" class="circle__add circle__left" @click="addCircle('left')"
                        @mouseup.stop="endLink('left')"
                        @mousedown.stop="startLink($event,'left')" v-if="this.circle.left === null">
                    +
                </button>
                <button tabindex="5" aria-label="delete slide" class="circle__delete" @click="deleteCircle"
                        @dblclick.stop=""
                        v-if="circles.length > 1 && editMode">
                    <img src="../assets/delete.svg" alt="delete" role="img">
                </button>
                <button tabindex="6" aria-label="edit slide" class="circle__edit" @click="editCircle" @dblclick.stop=""
                        v-if="editMode">
                    <img src="../assets/edit.svg" alt="edit" role="img">
                </button>
            </div>
        </div>
</template>
<script>
    export default {
        name: "CircleElement",
        props: ['circle', 'index'],
        methods: {
            mouseDown() {
                this.$store.commit('setActiveDragCircle', this.circle.id);
            },
            doubleClick() {
                this.$store.commit('setActiveActionsCircleId', this.circle.id);
            },
            deleteCircle() {
                this.$store.dispatch('deleteActiveCircle');
            },
            editCircle() {
                this.$store.commit('setEditCircleId', this.$store.state.activeActionsCircleId);
            },
            addCircle(direction) {
                this.$store.dispatch('addCircle', {circle: this.circle, direction});
            },
            startLink(mouseEvent, direction) {
                if (this.$store.state.shiftKeyDown) {
                    this.$store.commit('setActiveLinkingStart', {
                        start: this.circle.id,
                        directionStart: direction,
                        x: mouseEvent.clientX - 20,
                        y: mouseEvent.clientY - 20
                    });
                }
            },
            endLink(direction) {
                if (this.$store.state.shiftKeyDown && this.$store.state.activeLinkingStart) {
                    this.$store.dispatch('endLink', {end: this.circle.id, directionEnd: direction});
                }
            }
        },
        computed: {
            editMode() {
                return this.$store.state.activeActionsCircleId === this.circle.id;
            },
            styles() {
                return {
                    left: (this.$store.state.canvasOffsetX + this.circle.x) + "px",
                    top: (this.$store.state.canvasOffsetY + this.circle.y) + "px"
                }
            },
            circles() {
                return this.$store.state.circles;
            },
            dragMode() {
                return this.$store.state.activeLinkingStart !== null;
            }
        },
    }
</script>

<style lang="scss" scoped>

    @keyframes scaleFrom50 {
        0% {
            opacity: 0;
            transform: scale(0.5);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes scaleFrom20 {
        0% {
            opacity: 0;
            width: 20px;
            height: 20px;
        }
        100% {
            opacity: 1;
            width: 40px;
            height: 40px;
        }
    }

    @keyframes slideInFromTop {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .circle {
        user-select: none;
        cursor: pointer;
        position: absolute;
        background: white;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        width: 200px;
        height: 180px;
        display: flex;
        overflow: hidden;
        animation: 0.25s scaleFrom50 ease-in-out;

        &__content {
            position: relative;
            width: 100%;
            height: 100%;
        }

        &__index {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: bold;
            font-size: 24px;
        }

        // Styling for upper left delete button
        &__delete {
            background: #F07575;
            outline: none;
            border: none;
            color: white;
            height: 40px;
            width: 40px;
            transition: 0.2s all ease-in-out;
            cursor: pointer;
            animation: 0.2s slideInFromTop;
            &:hover {
                background: darken(#F07575, 20);
            }

            &:active, &:focus {
                outline: 1px dashed darken(#F07575, 20);
            }
        }


        // Styling  for upper right edit button
        &__edit {
            position: absolute;
            animation: 0.2s slideInFromTop;
            top: 0;
            right: 0;
            background: #EDE576;
            outline: none;
            border: none;
            color: white;
            height: 40px;
            width: 40px;
            transition: 0.2s all ease-in-out;
            cursor: pointer;

            &:hover {
                background: darken(#EDE576, 20);
            }

            &:active, &:focus {
                outline: 1px dashed darken(#EDE576, 0.5);
            }
        }

        //Active, when circle is double-clicked and editable
        &__editMode {
            background: white;
        }

        //Active, when circle is dragged around
        &__dragMode {
            z-index: 1000;
        }

        // Styling for all add buttons
        &__add {
            cursor: pointer;
            animation: 0.25s scaleFrom20 ease-in-out;
            transform-origin: 50% 50%;
            border: none;
            position: absolute;
            background: green;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            width: 40px;
            height: 40px;

            &:hover {
                transition: 0.2s all ease-in-out;
                background: darkgreen;
            }

            &:focus, &:active {
                outline: 1px dashed darkgreen;
            }
        }

        // Positioning for the four add buttons
        &__top {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &__bottom {
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &__left {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        &__right {
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }

        &__transition {
            &-enter {
                transform: scale(0.5);
                transition: 0.5s all ease-in-out;
            }

            &-leave-to {

            }

            &-enter-to {
                transform: scale(1);
            }

            &-leave {

            }
        }
    }
</style>