<template>
    <div class="edit">
        <div class="edit__content">
            <h1>Edit Slide</h1>
            <div v-if="circle.top !== null" class="edit__input">
                <label for="topcap">Top Caption</label>
                <input id="topcap" type="text" v-model="circle.topCaption" placeholder="default caption">
            </div>
            <div v-if="circle.right !== null" class="edit__input">
                <label for="rightcap">Right Caption</label>
                <input id="rightcap" type="text" v-model="circle.rightCaption" placeholder="default caption">
            </div>
            <div v-if="circle.bottom !== null" class="edit__input">
                <label for="bottomcap">Bottom Caption</label>
                <input id="bottomcap" type="text" v-model="circle.bottomCaption" placeholder="default caption">
            </div>
            <div v-if="circle.left !== null" class="edit__input">
                <label for="leftcap">Left Caption</label>
                <input id="leftcap" type="text" v-model="circle.leftCaption" placeholder="default caption">
            </div>
            <div class="edit__input">
                <label for="ckeditor">Content</label>
                <textarea id="ckeditor">{{circle.content}}</textarea>
            </div>
        </div>
        <div class="edit__controls">
            <button tabindex="2" class="btn edit__cancel" @click="cancel">Cancel</button>
            <button tabindex="1" class="btn edit__save" @click="saveCircle">Save</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "EditCircle",
        props: ['editCircle'],
        data() {
            return {
                circle: {},
                editor: null,
            }
        },
        created() {
            Object.assign(this.circle, this.editCircle);
        },
        mounted() {
            this.editor = CKEDITOR.replace('ckeditor');
        },
        methods: {
            saveCircle() {
                this.circle.content = this.editor.getData();
                this.$store.commit('saveActiveEditElement', this.circle);
            },
            cancel() {
                this.$store.commit('setEditCircleId', null);
            }
        }
    }
</script>

<style lang="scss" scoped>

    .edit {
        position: fixed;
        top: 10%;
        bottom: 10%;
        left: 25%;
        right: 25%;
        overflow-y: auto;
        background: white;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);


        // Styles for content
        &__content {
            overflow-y: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 60px;
            left: 0;
            padding: 20px 50px;
        }

        // Styles for inputs
        &__input {
            input {
                border: none;
                border-bottom: 2px solid #6EE2EB;
                font-size: 16px;
                padding: 5px;
                outline: none;
            }

            label {
                font-weight: bold;
                display: block;
                margin-bottom: 10px;
                margin-top: 20px;

            }
        }

        // Controls Cancel and Save
        &__controls {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 10px;
        }
        &__save {
            background: #6EE2EB;
            color: white;
            margin-left: 16px;
        }

        &__cancel {
            color: #F07575;
        }
    }




</style>