<template>
    <g>
        <line class="link" :x1="startX" :y1="startY" :x2="endX" :y2="endY" stroke-width="3"
              @click="selectLink"/>
        <foreignObject v-if="isSelected" :x="(startX + endX)/2" :y="(startY + endY)/2" width="200" height="200">
            <body xmlns="http://www.w3.org/1999/xhtml">
            <button class="btn link__delete" @click="deleteLink"><img src="../assets/delete.svg" alt=""></button>
            </body>
        </foreignObject>
    </g>
</template>

<script>
    export default {
        name: "LinkElement",
        props: ['link'],
        methods: {
            selectLink() {
                this.$store.commit('setSelectedLinkId', this.link.id);
            },
            deleteLink() {
                this.$store.commit('deleteLink', this.link.id);
            },
            getShiftedX(x) {
                return (this.$store.state.canvasOffsetX + x);
            },
            getShiftedY(y) {
                return (this.$store.state.canvasOffsetY + y);
            }
        },
        computed: {
            start() {
                return this.$store.state.circles.find(circle => circle.id === this.link.start);
            },
            end() {
                return this.$store.state.circles.find(circle => circle.id === this.link.end);
            },
            startX() {
                switch (this.link.directionStart) {
                    case "bottom":
                    case "top":
                        return this.getShiftedX(this.start.x + 100);
                    case "right":
                        return this.getShiftedX(this.start.x + 200);
                    case "left":
                        return this.getShiftedX(this.start.x);
                }
            },
            endX() {
                switch (this.link.directionEnd) {
                    case "bottom":
                    case "top":
                        return this.getShiftedX(this.end.x + 100);
                    case "right":
                        return this.getShiftedX(this.end.x + 200);
                    case "left":
                        return this.getShiftedX(this.end.x);
                }
            },
            startY() {
                switch (this.link.directionStart) {
                    case "left":
                    case "right":
                        return this.getShiftedY(this.start.y + 90);
                    case "bottom":
                        return this.getShiftedY(this.start.y + 180);
                    case "top":
                        return this.getShiftedY(this.start.y);
                }
            },
            endY() {
                switch (this.link.directionEnd) {
                    case "left":
                    case "right":
                        return this.getShiftedY(this.end.y + 90);
                    case "bottom":
                        return this.getShiftedY(this.end.y + 180);
                    case "top":
                        return this.getShiftedY(this.end.y);
                }
            },
            isSelected() {
                return this.$store.state.selectedLinkId === this.link.id;
            }
        }
    }
</script>

<style lang="scss" scoped>

    @keyframes opacityFrom0 {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .link {
        cursor: pointer;
        stroke: rgba(0,0,0,0.37);
        animation: 0.25s opacityFrom0 ease-in-out;
        &__delete {
            color: white;
            background: #F07575;
        }
    }

</style>