<template>
    <div>
        <transition :name="transitionName" @leave="" mode="out-in">
            <div @touchstart="onTouchStart" class="slide" v-if="isVisibleSlide">
                <div class="slide__content" v-html="slide.content"></div>
            </div>
        </transition>
        <div class="slide__controls" v-if="isVisibleSlide">
            <button tabindex="2" class="btn" v-if="slide.top !== null" @click="changeVisibleSlide(slide.top)">
                {{slide.topCaption || "Top - Default Caption"}}
            </button>
            <button tabindex="3" class="btn" v-if="slide.bottom !== null" @click="changeVisibleSlide(slide.bottom)">
                {{slide.bottomCaption || "Bottom - Default Caption"}}
            </button>
            <button tabindex="4" class="btn" v-if="slide.left !== null" @click="changeVisibleSlide(slide.left)">
                {{slide.leftCaption || "Left - Default Caption"}}
            </button>
            <button tabindex="5" class="btn" v-if="slide.right !== null" @click="changeVisibleSlide(slide.right)">
                {{slide.rightCaption || "Right - Default Caption"}}
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Slide",
        props: ['slide'],
        data() {
            return {
                touchStartPosition: null
            }
        },
        mounted() {
            window.addEventListener('touchend', this.onTouchEnd);
        },
        methods: {
            onTouchEnd(event) {
                const touch = event.changedTouches[0];
                const currentPosition = {x: touch.screenX, y: touch.screenY};
                const xDelta = Math.abs(currentPosition.x - this.touchStartPosition.x);
                const yDelta = Math.abs(currentPosition.y - this.touchStartPosition.y);
                if (xDelta > yDelta) {
                    if (currentPosition.x > this.touchStartPosition.x) {
                        this.changeVisibleSlide(this.slide.left);
                    } else {
                        this.changeVisibleSlide(this.slide.right);
                    }
                } else {
                    if (currentPosition.y > this.touchStartPosition.y) {
                        this.changeVisibleSlide(this.slide.top);
                    } else {
                        this.changeVisibleSlide(this.slide.bottom);
                    }
                }
                this.touchStartPosition = null;
            },
            onTouchStart(event) {
                const touch = event.touches[0];
                this.touchStartPosition = {x: touch.screenX, y: touch.screenY};
            },
            changeVisibleSlide(linkId) {
                if (linkId !== null) {
                    const foundLink = this.$store.state.links.find(link => link.id === linkId);
                    let slideId = foundLink.start;
                    let direction = foundLink.directionEnd;

                    if (foundLink.start === this.$store.state.activeSlideId) {
                        slideId = foundLink.end;
                        direction = foundLink.directionStart;
                    }

                    this.$store.commit('setSlideDirection', direction);
                    this.$nextTick(() => {
                        this.$store.commit('setActiveSlideId', slideId);
                    })
                }
            }
        },
        computed: {
            isVisibleSlide() {
                return this.slide.id === this.$store.state.activeSlideId;
            },
            transitionName() {
                return this.$store.state.slideDirectionStart;
            }
        }
    }
</script>

<style lang="scss" scoped>

    // Slide and Slide-Controls

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow-y: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        &__controls {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            display: flex;
            align-items: stretch;
            justify-content: space-around;
            z-index: 1000;

            button {
                width: 23%;
                background: #155;
                color: white;
            }
        }
    }

    // Different Animation types for Slides

    .left-enter-active, .left-leave-active, .right-enter-active, .right-leave-active, .top-enter-active, .top-leave-active, .bottom-enter-active, .bottom-leave-active {
        transition: transform .5s ease-in-out;
    }

    .top-enter,
    {
        transform: translateY(-100%);
    }

    .top-leave-to {
        transform: translateY(100%);
    }

    .bottom-enter {
        transform: translateY(100%);
    }

    .bottom-leave-to {
        transform: translateY(-100%);
    }

    .left-enter {
        transform: translateX(-100%);
    }

    .left-leave-to {
        transform: translateX(100%);
    }

    .right-enter {
        transform: translateX(100%);
    }

    .right-leave-to {
        transform: translateX(-100%);
    }

</style>