<template>
  <div id="app">
    <div class="logo-container">
      <img class="logo" src="./assets/logo.png" alt="">
      <h2>Knowledge Explorer</h2>
    </div>
    <div id="nav">
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">

  body {
    font-family: "Roboto", Sans-Serif;
    font-size: 100%;
  }

  .btn {
    background: white;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    border: none;
    padding: 7px 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
    &:hover {
      background: #f1f1f1;
    }

    &:focus, &:active {
      outline: 1px dashed #ccc;
    }
  }

  .logo-container {
    position: fixed;
    top: 24px;
    left: 24px;
    z-index: 200;
    display: flex;
    align-items: center;

    h2 {
      display: inline-block;
      margin-left: 20px;
      color: #F07575;
    }
  }

</style>
